.App {
  text-align: center;
}

@keyframes heart {
  0%, 100% {
    transform: scale(1);
  }
  10% {
      transform: scale(.8);
  }
  50% {
      transform: scale(1.1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes translate_x {
  0% {
    transform: translateX(calc(-210%));
  }

  to {
    transform: translateX(calc(190%));
  }
}

@keyframes loading_bar_animation {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    scale: 0.8;
  }
  30% {
    scale: 1.1;
  }
  100% {
    scale: 1.0;
  }
}

.animated-heart {
  animation: heart 1s cubic-bezier(0.4, 0, 0.6, 1);
}

.animated-fade {
  animation: fade 1s;
}

.load_seagull {
  animation: translate_x 5s infinite ease-in-out;
}

.animated-load-bar {
  animation: loading_bar_animation 5s infinite ease-in-out;
}

.animated-scale {
  animation: scale 0.7s ease-in-out;
}