.App {
  text-align: center;
}

@keyframes heart {
  0%, 100% {
    transform: scale(1);
  }
  10% {
      transform: scale(.8);
  }
  50% {
      transform: scale(1.1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animated-heart {
  animation: heart 1s cubic-bezier(0.4, 0, 0.6, 1);
}

.fade {
  animation: fade 1s;
}